// 过渡
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.drawer-left-enter-active,
.drawer-left-leave-active {
  transition: transform 0.5s ease-out;
  transform-origin: left bottom;
  transform: scaleX(1) scaleY(1);
}
.drawer-left-enter,
.drawer-left-leave-to {
  transition: transform 0.5s ease-in;
  transform-origin: left bottom;
  transform: scaleX(0) scaleY(0);
}

// drawer-right
.drawer-right-enter-active,
.drawer-right-leave-active {
  transition: transform 0.5s ease-in;
  transform-origin: right bottom;
  transform: scaleX(1) scaleY(1);
}

.drawer-right-enter,
.drawer-right-leave-to {
  transition: transform 0.5s ease-out;
  transform-origin: right bottom;
  transform: scaleX(0) scaleY(0);
}
