// 引入 reset 解决浏览器兼容问题
@import "./config-reset.scss";
// 引入原子类样式
@import "./config-atom.scss";
// 引入组件库调整后样式
@import "./config-element.scss";
// 引入 CSS 变量
@import "./config-variable.scss";
// 
@import "./config-animation.scss";

// 布局
@import "./layout.scss";
@import "./layout-header.scss";
@import "./layout-nav.scss";
@import "./layout-main.scss";

// 每个页面的样式控制
@import "./view-common.scss";
@import "./view-music.scss";
@import "./view-search.scss";
@import "./view-singer.scss";
@import "./view-songlist.scss";
@import "./view-songs.scss";
@import "./view-video.scss";
@import "./view-audio.scss";

.vue-drr-box {
  border: none !important;
}


.vue-drr-slot {
  background: transparent !important;
}


#nprogress .bar {
  background: #ff4e4e !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #f7a7a7, 0 0 5px #f7a7a7;
}