.app-main-view {
  box-sizing: border-box;
  padding-left: 1rem;
  height: 100%;
  .app-main-nav {
    z-index: 11;
    top: 0;
    height: var(--app-tabnav-height);
    width: 100%;
    background-color: #fff;
  }
}

.app-main-page {
  box-sizing: border-box;

  padding-right: 1rem;
  padding-top: 1rem;
  height: calc(100% - var(--app-tabnav-height));
  overflow-y: scroll;
}

// 导航
.el-tabs__item {
  font-size: 16px;
}

.el-tabs__item:hover {
  color: #000;
}

.el-tabs__item.is-active {
  color: #333;
  font-size: 20px;
  font-weight: bold;
}

.el-tabs__active-bar {
  background-color: #c3473a;
}

.el-tabs__nav-wrap::after {
  display: none;
}
