.app-header .left-box {
  display: flex;
  align-items: center;
}

.app-header-title {
  margin: 0;
  padding: 0;
  // color: #2c3e50;
  color: #fff;
  font-weight: 500;
  font-size: 1.3rem;
  font-family: BlinkMacSystemFont, Segoe UI;
  padding-left: 1.5rem;
  cursor: pointer;
  width: var(--app-sidenav-width);
}

.app-header .left-box .app-header-history {
  display: flex;
  align-items: center;
}

.app-header .left-box .app-header-history {
  padding-left: 25px;
  margin-right: 10px;
}

.app-header .left-box .app-header-history a {
  color: #c3473a;
}

.app-header .left-box .app-header-history .app-header-history-icon {
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.app-header .left-box .app-header-history .app-header-history-icon:first-child {
  margin-right: 10px;
}

.app-header .left-box .app-header-history .app-header-history-icon:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.app-header .right-box {
  display: flex;
  align-items: center;
}

.app-header .app-header-search {
  .el-input__prefix {
    color: #eee;
  }

  input {
    width: 300px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: #fff;

    &::placeholder {
      color: #eee;
    }
  }
}
