// 定义桌面
body {
  min-width: 1200px;
}
#app {
  width: 100%;
  height: 100%;
  min-width: var(--app-min-width);
  overflow: hidden;
}

.app-header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  min-width: var(--app-min-width);
  height: var(--app-header-height);
  box-sizing: border-box;
  padding: 0 10px;
  background-color: #ec4141;
  // box-shadow: 1px 1px 8px 1px #ccc;
  border-bottom: 1px solid #eee;
}

.app-body {
  display: flex;
  position: absolute;
  top: var(--app-header-height);
  bottom: var(--app-footer-height);
  width: 100%;
  min-width: var(--app-min-width);
  background-color: #fff;
}

.app-footer {
  display: flex;
  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: 0;
  z-index: 11;
  width: 100%;
  min-width: var(--app-min-width);
  height: var(--app-footer-height);
  background-color: #fff;
  border-top: 1px solid #eee;
}

.app-body {
  .app-nav {
    width: var(--app-sidenav-width);
    min-width: var(--app-sidenav-width);
    border-right: 1px solid #e1e1e1;
  }

  .app-main {
    flex: 1;
    width: calc(100vw - var(--app-sidenav-width));
    box-sizing: border-box;
  }
}

#app {
  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
  }
}
