.search-container .search-title-box {
  display: flex;
  align-items: center;
}

.search-container .song-wrap {
  width: 150px;
}

.search-container .search-title-box .search-title-keywords {
  margin-right: 10px;
}

.search-container .search-title-box .search-title-count {
  font-size: 15px;
  color: #bebebe;
}

.search-container .el-tabs__item {
  font-size: 18px;
}

.search-container .el-table td,
.search-container .el-table th.is-leaf {
  border-bottom: none;
}

.search-container .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.search-container .items .item {
  width: 160px;
}

.search-container .items.mv .item {
  width: 240px;
}

.mv-tag {
  position: relative;
  top: -5px;
  right: -5px;
  font-size: 12px;
  color: red;
}
