.music-container {
  padding-bottom: 20px;
}

.music-container .title {
  font-weight: normal;
  margin-bottom: 20px;
  padding-left: 8px;
}

// 轮播图
.music-container .el-carousel__container {
  height: 220px;
}

.music-container .el-carousel__item img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

// 新歌

.music-container .recommend-news {
  margin-bottom: 1rem;
}

.music-container .recommend-news .news-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.music-container .recommend-news .news-list .item {
  // width: 25%;
  width: 250px;
  height: 80px;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

.music-container .recommend-news .news-list .item:hover {
  background-color: #f5f5f5;
}

.music-container .recommend-news .news-list .item .index {
  margin-right: 15px;
  font-size: 15px;
}

.music-container .recommend-news .news-list .item .img-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.music-container .recommend-news .news-list .item .img-wrap img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

.music-container .recommend-news .news-list .item .img-wrap .iconfont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  color: #dd6d60;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
}

.music-container .recommend-news .news-list .item .img-wrap .iconfont::before {
  transform: translateX(0px);
}

.music-container .recommend-news .news-list .item .img-wrap:hover .iconfont {
  opacity: 1;
}

.music-container .recommend-news .news-list .item .song-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 10px;
  font-size: 16px;
}

.music-container .recommend-news .news-list .item .song-wrap .singer {
  font-size: 14px;
  color: gray;
}

// 推荐

.music-container .recommend-songlist .items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.music-container .recommend-songlist .items .item {
  // flex: 0 0 20%;
  height: 200px;
  width: 160px;
  box-sizing: border-box;
  margin: 0.5rem 0;
}

.music-container .recommend-songlist .items .item-box {
  width: 160px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.music-container .recommend .items .item .item-box img {
  width: 160px;
  height: 160px;
}

.music-container .recommend-songlist .items .item .desc-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  max-height: 50px;
  padding: 5px;
}

.music-container .recommend-songlist .items .item .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.music-container .recommend-songlist .items .item .desc-wrap span {
  font-size: 14px;
}

.music-container .recommend-songlist .items .item:hover .desc-wrap {
  top: 0;
}

.music-container .recommend-songlist .items .item .img-wrap .icon-play {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  color: #dd6d60;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
}

.music-container .recommend-songlist .items .item .img-wrap .icon-play::before {
  transform: translateX(0px);
}

.music-container .recommend-songlist .items .item .img-wrap:hover .icon-play {
  opacity: 1;
}

.music-container .recommend-songlist .items .item .name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 14px;
}

// 排行榜

.music-container .rank-list .items {
  display: flex;
  flex-wrap: wrap;
}

.music-container .rank-list .items .item {
  width: 200px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.music-container .rank-list .items .item .img-wrap {
  position: relative;
  width: 200px;
  height: 200px;
}
.music-container .rank-list .items .item .img-wrap img {
  width: 200px;
  height: 200px;
}

.music-container .rank-list .items .item .img-wrap .icon-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  color: #dd6d60;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
}

.music-container .rank-list .items .item .img-wrap:hover .icon-play {
  opacity: 1;
}
