.video-container .title {
  margin-bottom: 20px;
}

.video-container .mv-wrap {
  width: 700px;
  margin-right: 35px;
}

.video-container .mv-wrap .date {
  margin-right: 25px;
}

.video-container .mv-wrap .date,
.video-container .mv-wrap .number {
  color: #bebebe;
  font-size: 14px;
}

.video-container .mv-wrap .video-wrap {
  width: 100%;
  height: 390px;
  margin-bottom: 20px;
}

.video-container .mv-wrap .video-wrap video {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  outline: none;
}

.video-container .mv-wrap .info-wrap {
  margin-bottom: 50px;
}

.video-container .mv-wrap .info-wrap .singer-info {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.video-container .mv-wrap .info-wrap .singer-info .avatar-wrap {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.video-container .mv-wrap .info-wrap .singer-info .avatar-wrap img {
  height: 100%;
}

.video-container .mv-wrap .info-wrap .mv-info .title {
  font-size: 30px;
}

.video-container .mv-wrap .info-wrap .mv-info .desc {
  font-size: 15px;
  margin-top: 20px;
}

.video-container .mv-wrap .comment-wrap {
  margin-bottom: 70px;
}

.video-container .mv-wrap .comment-wrap .title {
  font-size: 25px;
}

.video-container .mv-wrap .comment-wrap .title .number {
  color: black;
  font-size: 20px;
}

.video-container .mv-wrap .comment-wrap .item {
  display: flex;
  padding-top: 20px;
}

.video-container .mv-wrap .comment-wrap .item .icon-wrap {
  margin-right: 15px;
}

.video-container .mv-wrap .comment-wrap .item .icon-wrap img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.video-container .mv-wrap .comment-wrap .item:not(:last-child) .content-wrap {
  border-bottom: 1px solid #f2f2f1;
}

.video-container .mv-wrap .comment-wrap .item .content-wrap {
  padding-bottom: 20px;
  flex: 1;
}

.video-container .mv-wrap .comment-wrap .item .content-wrap .name {
  color: #517eaf;
  font-size: 14px;
}

.video-container .mv-wrap .comment-wrap .item .content-wrap .comment {
  font-size: 14px;
}

.video-container .mv-wrap .comment-wrap .item .content-wrap .content,
.video-container .mv-wrap .comment-wrap .item .content-wrap .re-content {
  margin-bottom: 10px;
}

.video-container .mv-wrap .comment-wrap .item .content-wrap .re-content {
  padding: 10px;
  background-color: #e6e5e6;
  border-radius: 5px;
}

.video-container .mv-recommend {
  flex: 1;
}

.video-container .mv-recommend .mvs .items {
  display: flex;
  flex-wrap: wrap;
}

.video-container .mv-recommend .mvs .items .item {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.video-container .mv-recommend .mvs .items .item:hover {
  background-color: #f5f5f5;
}

.video-container .mv-recommend .mvs .items .item .img-wrap {
  width: 180px;
  position: relative;
  margin-right: 10px;
}

.video-container .mv-recommend .mvs .items .item .img-wrap > .icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  color: #dd6d60;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
}

.video-container
  .mv-recommend
  .mvs
  .items
  .item
  .img-wrap
  > .icon-play::before {
  transform: translateX(0px);
}

.video-container .mv-recommend .mvs .items .item .img-wrap:hover > .icon-play {
  opacity: 1;
}

.video-container .mv-recommend .mvs .items .item .img-wrap img {
  width: 100%;
  border-radius: 5px;
}

.video-container .mv-recommend .mvs .items .item .img-wrap .num-wrap {
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  display: flex;
  align-content: center;
  font-size: 15px;
  padding-right: 5px;
  padding-top: 2px;
}

.video-container
  .mv-recommend
  .mvs
  .items
  .item
  .img-wrap
  .num-wrap
  .icon-play {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.video-container .mv-recommend .mvs .items .item .img-wrap .time {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
  font-size: 15px;
}

.video-container .mv-recommend .mvs .items .item .info-wrap {
  flex: 1;
}

.video-container .mv-recommend .mvs .items .item .info-wrap .name {
  font-size: 15px;
}

.video-container .mv-recommend .mvs .items .item .info-wrap .singer {
  font-size: 14px;
  color: #c5c5c5;
}

.video-container .filter-wrap > div {
  margin-bottom: 30px;
  vertical-align: baseline;
  display: flex;
  align-items: center;
}

.video-container .filter-wrap > div span {
  font-size: 14px;
  height: 100%;
}

.video-container .filter-wrap > div span.title {
  margin: 20px;
  color: gray;
  cursor: pointer;
  padding: 5px 20px;
}

.video-container .filter-wrap > div span.title.active {
  color: #dd6d60;
  background-color: #fcf6f5;
  border-radius: 20px;
}

.video-container .filter-wrap > div span.title::before {
  content: "", pos;
}

.video-container .filter-wrap > div ul {
  display: flex;
}

.video-container .filter-wrap > div ul li:not(:last-child) {
  border-right: 1px solid #f2f2f1;
}

.video-container .mvs .items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.video-container .mvs .items .item {
  width: 250px;
  cursor: pointer;
  margin-right: 25px;
  margin-bottom: 30px;
}

.video-container .mvs .items .item .img-wrap {
  width: 100%;
  position: relative;
}

.video-container .mvs .items .item .img-wrap img {
  width: 100%;
  height: 141px;
  border-radius: 5px;
}

.video-container .mvs .items .item .img-wrap .num-wrap {
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  display: flex;
  align-content: center;
  font-size: 15px;
  padding-right: 5px;
  padding-top: 2px;
}

.video-container .mvs .items .item .img-wrap .num-wrap .icon-play {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.video-container .mvs .items .item .info-wrap .name {
  font-size: 15px;
}

.video-container .mvs .items .item .info-wrap .singer {
  font-size: 14px;
  color: #c5c5c5;
}
