.app-footer {
  z-index: 20;
  display: flex;
  align-items: center;

  .song-info {
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 450px;
  }
  .song-control{
    flex: 1;
    min-width: 360px;  
  }

  .list-control {
    flex: 1;
  }
}

// .song-control {
//   &.nosongs * {
//     color: #a6a6a6 !important;
//   }
// }

// 信息
.song-info {
  .img-box {
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    visibility: hidden;

    .arrow {
      display: block;
      position: absolute;
      left: 15px;
      top: 15px;
      width: 20px;
      height: 20px;
      z-index: 1;
      font-size: 20px;
      color: rgba(0, 0, 0, 0);
    }

    .img {
      display: block;
      height: 50px;
      width: 50px;
      border-radius: 10px;
      border: 1px solid #ccc;
    }

    .img.running {
      border-radius: 50%;
      animation: rotate 5s linear infinite running;
    }

    &:hover {
      .arrow {
        color: rgba(255, 255, 255, 0.7);
      }

      .img {
        filter: blur(2px);
      }
    }

    &.open {
      .arrow {
        color: rgba(255, 255, 255, 0.7);
        transform: rotate(180deg);
      }

      .img {
        filter: blur(2px);
      }
    }

    &.show {
      visibility: visible;
    }
  }
}

.name-box {
  margin: 20px 0 0 20px;
  height: 60px;
  line-height: 25px;

  .song-name {
    font-size: 16px;
    font-weight: 700;
  }

  .song-author {
    font-size: 13px;
  }
}

// 歌曲控制
.song-control {

  .switch-control {
    display: flex;
    justify-content: center;

    .control-button {
      margin: 0 6px;
      padding: 6px;
      font-size: 20px;
      cursor: pointer;
      &.disable {
        color: #ccc;
      }
    }

    .control-button-text {
      font-size: 14px;
      padding: 9px;
    }
  }

  .button-toggle {
    background-color: #eee;
    border-radius: 40px;
  }
}

.song-progress {
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 16px;
}

.control-progress {
  margin: 0 1rem;
  flex: 1;
}

.control-progress {
  .el-slider__runway {
    background: linear-gradient(
      90deg,
      #ec414177 0%,
      #ec414177 var(--progress),
      #e4e7ed var(--progress),
      #e4e7ed 100%
    );
  }
}

// 音量控制
.list-control {
  .button-volume {
    font-size: 22px;
  }

  .button-menu {
    margin: 0 10px 0 0;
    font-size: 24px;
  }

  .button-menu.active {
    transform: rotateX(180deg);
  }

  .slider-volume {
    margin: 0 15px;
    width: 100px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
