// 引入reset.scss 解决浏览器兼容问题
// @import "reset.scss";
// 引入原子类样式
// @import "atom.scss";

html,
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", Arial,
    sans-serif;
}

/*正常情况下滑块的样式*/
::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #fff;
}