// 定义桌面
#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-color: #fff;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;

  .mask-content {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
  }

  .mask-title {
    font-size: calc(30px + 0.33vw);
    margin-bottom: 20px;
  }

  .agree-button-group {

    button {
      margin: 0 20px;
    }
  }
}


.fake-desktop-background {
  // background: url('../assets/images/desktop-repeat.png') repeat;
  background-color: #038288;
}

.fake-desktop-icon {

  #recovery,
  #netease {
    z-index: 1;
    position: fixed;
    left: .25rem;
    width: 74px;
    height: 56px;
    box-sizing: border-box;

    &:hover,
    &:active {
      box-shadow: 0 0 1px 2px #58acb5;
      background-color: #1f909c;
    }
  }

  #recovery {
    top: 6px;
    background: url('../assets/images/recovery.png') no-repeat;
  }

  #netease {
    top: 80px;
    background: url('../assets/images/netease.png') no-repeat;
  }
}

.fake-desktop-bottom {
  z-index: 111;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100vw;
  background: url('../assets/images/bottom-left.png') no-repeat left center,
    url('../assets/images/bottom-right.png') no-repeat right center;
  background-color: #1d3233;
}


// 定义音乐引用容器

#music-box {
  z-index: 5;
  position: relative;

  .music-box-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .top-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: #ec4141;
    display: flex;
    justify-content: space-between;
  }

  .home-container {
    position: absolute;
    top: 40px;
    bottom: 60px;
    width: 100%;
    background-color: #fff;
    display: flex;

    .side-container {
      width: 160px;
      border-right: 1px solid #e1e1e1;
    }

    .main-container {
      position: relative;
      flex: 1;
      padding: 0 1rem;
      overflow-y: scroll;
    }
  }

  .bottom-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid #e1e1e1;
  }
}

@import "./top.scss";
@import "./main.scss";
@import "./other.scss";